In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [27]:
df=pd.read_csv(r"C:\Users\User\Desktop\python_practice\AIml\csv\churn.csv")

In [28]:
#considering we have done the analysis and cleaning and all

In [29]:
df.head(4)

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0

In [31]:
x=df.drop(['CustomerId','Surname','Exited'],axis=1)

In [32]:
y=df.Exited

In [34]:
x.shape

(10000, 10)

In [35]:
y.shape

(10000,)

In [36]:
#Logistic regression --> maximum likelyhood
# Logistic Regression is the "classification" sibling of Linear Regression. Despite having "Regression" in its name,
# it is primarily used for predicting categories (Yes/No, Spam/Not Spam, True/False) rather than exact numbers.
#     The Core Difference: Output Type
# Linear Regression: Predicts a continuous number (e.g., predicting a house price of $347,500). The output can theoretically be anything from negative infinity to positive infinity.

# Logistic Regression: Predicts a probability between 0 and 1 (e.g., predicting a 76% chance that a customer will churn). 
#     This probability is then typically rounded to a category (Class 0 or Class 1).
#p(y)>0
#p(y)<1
# e(y)=b0+b1x1+b1x1.......bnxn
# p(y)----> exp(b0+b1x1)
# p(y)---->(exp(b0+b1x1)/exp(b0+b1x1)+1)
#1-p-->1-(exp(y)/exp(y)+1)
#p/1-p
#odds-->win or loss matc=0.90/0.10
# p(sucess)=0.90
# p(failure)=0.10

# g(e(y))--->b0+b1x1
# g--->sinverse logit
# sigmoid function-->1/1+exp(-y)

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=3)

In [42]:
x_train.shape

(8000, 10)

In [43]:
y_train.shape

(8000,)

In [ ]:
#handling categorical variables