In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('csv/oj.csv')

In [4]:
df.head(8)

,store,brand,week,logmove,feat,price,AGE60,EDUC,ETHNIC,INCOME,HHLARGE,WORKWOM,HVAL150,SSTRDIST,SSTRVOL,CPDIST5,CPWVOL5
0,2,tropicana,40,9.018695,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
1,2,tropicana,46,8.723231,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
2,2,tropicana,47,8.253228,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
3,2,tropicana,48,8.987197,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
4,2,tropicana,50,9.093357,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
5,2,tropicana,51,8.877382,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
6,2,tropicana,52,9.294682,0,3.29,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
7,2,tropicana,53,8.954674,0,3.29,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927

In [6]:
## Find the dimensions of the oj data set

In [5]:
df.shape

(28947, 17)

In [7]:
## Find the structure of the data set

In [31]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 28947 entries, 0 to 28946
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   store     28947 non-null  int64
 1   brand     28947 non-null  str
 2   week      28947 non-null  int64
 3   logmove   28947 non-null  float64
 4   feat      28947 non-null  int64
 5   price     28947 non-null  float64
 6   AGE60     28947 non-null  float64
 7   EDUC      28947 non-null  float64
 8   ETHNIC    28947 non-null  float64
 9   INCOME    28947 non-null  float64
 10  HHLARGE   28947 non-null  float64
 11  WORKWOM   28947 non-null  float64
 12  HVAL150   28947 non-null  float64
 13  SSTRDIST  28947 non-null  float64
 14  SSTRVOL   28947 non-null  float64
 15  CPDIST5   28947 non-null  float64
 16  CPWVOL5   28947 non-null  float64
dtypes: float64(13), int64(3), str(1)
memory usage: 3.8 MB

In [ ]:
##Find out the column names in the data set

In [27]:
df.columns

Index(['store', 'brand', 'week', 'logmove', 'feat', 'price', 'AGE60', 'EDUC',
       'ETHNIC', 'INCOME', 'HHLARGE', 'WORKWOM', 'HVAL150', 'SSTRDIST',
       'SSTRVOL', 'CPDIST5', 'CPWVOL5'],
      dtype='str')

In [ ]:
##Describe the data set

In [28]:
df.describe

<bound method NDFrame.describe of        store      brand  week    logmove  feat  price     AGE60      EDUC  \
0          2  tropicana    40   9.018695     0   3.87  0.232865  0.248935
1          2  tropicana    46   8.723231     0   3.87  0.232865  0.248935
2          2  tropicana    47   8.253228     0   3.87  0.232865  0.248935
3          2  tropicana    48   8.987197     0   3.87  0.232865  0.248935
4          2  tropicana    50   9.093357     0   3.87  0.232865  0.248935
...      ...        ...   ...        ...   ...    ...       ...       ...
28942    137  dominicks   156   7.987524     0   2.00  0.209602  0.528362
28943    137  dominicks   157   8.502689     0   1.94  0.209602  0.528362
28944    137  dominicks   158   9.505991     0   1.59  0.209602  0.528362
28945    137  dominicks   159  10.927376     0   1.49  0.209602  0.528362
28946    137  dominicks   160   8.859363     0   1.75  0.209602  0.528362

        ETHNIC     INCOME   HHLARGE   WORKWOM   HVAL150  SSTRDIST   SSTRVOL  \
0      0.11428  10.553205  0.103953  0.303585  0.463887  2.110122  1.142857
1      0.11428  10.553205  0.103953  0.303585  0.463887  2.110122  1.142857
2      0.11428  10.553205  0.103953  0.303585  0.463887  2.110122  1.142857
3      0.11428  10.553205  0.103953  0.303585  0.463887  2.110122  1.142857
4      0.11428  10.553205  0.103953  0.303585  0.463887  2.110122  1.142857
...        ...        ...       ...       ...       ...       ...       ...
28942  0.11325  10.966490  0.092996  0.330293  0.860739  6.026484  0.705882
28943  0.11325  10.966490  0.092996  0.330293  0.860739  6.026484  0.705882
28944  0.11325  10.966490  0.092996  0.330293  0.860739  6.026484  0.705882
28945  0.11325  10.966490  0.092996  0.330293  0.860739  6.026484  0.705882
28946  0.11325  10.966490  0.092996  0.330293  0.860739  6.026484  0.705882

       CPDIST5   CPWVOL5
0      1.92728  0.376927
1      1.92728  0.376927
2      1.92728  0.376927
3      1.92728  0.376927
4      1.92728  0.376927
...        ...       ...
28942  0.77253  0.333761
28943  0.77253  0.333761
28944  0.77253  0.333761
28945  0.77253  0.333761
28946  0.77253  0.333761

[28947 rows x 17 columns]>

In [8]:
##Update the column names of the data set, such that every column name is in lowercase

In [39]:
col_l=[]
for i in df.columns:
    col_l.append(i.lower())
df.columns=col_l

In [38]:
##Fetch the first-row 3rd column from the data set

In [45]:
df.iloc[0,2]

np.int64(40)

In [46]:
##Fetch the first, second and Third columns of the oj data frame

In [53]:
df.iloc[::,0:3]

       store      brand  week
0          2  tropicana    40
1          2  tropicana    46
2          2  tropicana    47
3          2  tropicana    48
4          2  tropicana    50
...      ...        ...   ...
28942    137  dominicks   156
28943    137  dominicks   157
28944    137  dominicks   158
28945    137  dominicks   159
28946    137  dominicks   160

[28947 rows x 3 columns]

In [54]:
##Fetch the first, second, eighth and the 456th rows of the 1st, third and the sixth columns of the data frame

In [55]:
df.iloc[[1,2,8,455],[3,6]]

      logmove     age60
1    8.723231  0.232865
2    8.253228  0.232865
8    9.049232  0.232865
455  8.540910  0.117368

In [12]:
##Fetch the top 5 rows of the brand column

In [57]:
df['brand'].head(5)

0    tropicana
1    tropicana
2    tropicana
3    tropicana
4    tropicana
Name: brand, dtype: str

In [13]:
##Fetch top 5 rows of the brand, week and feat details

In [60]:
df[['brand','week','feat']].head(5)

       brand  week  feat
0  tropicana    40     0
1  tropicana    46     0
2  tropicana    47     0
3  tropicana    48     0
4  tropicana    50     0

In [14]:
##Fetch the details of all distinct stores

In [66]:
df['store'].unique

<bound method Series.unique of 0          2
1          2
2          2
3          2
4          2
        ...
28942    137
28943    137
28944    137
28945    137
28946    137
Name: store, Length: 28947, dtype: int64>

In [15]:
##Fetch all the observations for Tropicana brand using query function

In [70]:
df.query("brand=='tropicana'")

,store,brand,week,logmove,feat,price,age60,educ,ethnic,income,hhlarge,workwom,hval150,sstrdist,sstrvol,cpdist5,cpwvol5
0,2,tropicana,40,9.018695,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
1,2,tropicana,46,8.723231,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
2,2,tropicana,47,8.253228,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
3,2,tropicana,48,8.987197,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
4,2,tropicana,50,9.093357,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28746,137,tropicana,156,11.313498,1,2.49,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28747,137,tropicana,157,10.628133,0,2.66,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28748,137,tropicana,158,9.936535,0,3.11,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28749,137,tropicana,159,10.855917,1,2.79,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28750,137,tropicana,160,10.236525,0,2.88,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761

In [16]:
##Fetch the columns store, brand and price for observations that belong to the brand tropicana

In [75]:
df[['store','brand','price']][df["brand"]=='tropicana']

       store      brand  price
0          2  tropicana   3.87
1          2  tropicana   3.87
2          2  tropicana   3.87
3          2  tropicana   3.87
4          2  tropicana   3.87
...      ...        ...    ...
28746    137  tropicana   2.49
28747    137  tropicana   2.66
28748    137  tropicana   3.11
28749    137  tropicana   2.79
28750    137  tropicana   2.88

[9649 rows x 3 columns]

In [17]:
##Fetch bottom 5 observations for those who have bought Tropicana or dominics

In [78]:
df[(df['brand']=='tropicana') | (df['brand']=='dominics')].tail(5)

,store,brand,week,logmove,feat,price,age60,educ,ethnic,income,hhlarge,workwom,hval150,sstrdist,sstrvol,cpdist5,cpwvol5
28746,137,tropicana,156,11.313498,1,2.49,0.209602,0.528362,0.11325,10.96649,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28747,137,tropicana,157,10.628133,0,2.66,0.209602,0.528362,0.11325,10.96649,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28748,137,tropicana,158,9.936535,0,3.11,0.209602,0.528362,0.11325,10.96649,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28749,137,tropicana,159,10.855917,1,2.79,0.209602,0.528362,0.11325,10.96649,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28750,137,tropicana,160,10.236525,0,2.88,0.209602,0.528362,0.11325,10.96649,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761

In [18]:
##Fetch the income, brand, price observations with Tropicana brand without the feature advertisement (feat ==0)

In [85]:
df[(df['brand']=='tropicana') & (df['feat']==0)][['income','brand','price']]

          income      brand  price
0      10.553205  tropicana   3.87
1      10.553205  tropicana   3.87
2      10.553205  tropicana   3.87
3      10.553205  tropicana   3.87
4      10.553205  tropicana   3.87
...          ...        ...    ...
28743  10.966490  tropicana   3.19
28745  10.966490  tropicana   2.77
28747  10.966490  tropicana   2.66
28748  10.966490  tropicana   3.11
28750  10.966490  tropicana   2.88

[8045 rows x 3 columns]

In [19]:
##Remove the column normInc from the data frame

In [87]:
df.columns

Index(['store', 'brand', 'week', 'logmove', 'feat', 'price', 'age60', 'educ',
       'ethnic', 'income', 'hhlarge', 'workwom', 'hval150', 'sstrdist',
       'sstrvol', 'cpdist5', 'cpwvol5'],
      dtype='str')

In [20]:
##Fetch the observations for the tropicana brand excluding the store, price and income fields

In [93]:
df.query("brand=='tropicana'").drop(columns=['store','price','income'])

,brand,week,logmove,feat,age60,educ,ethnic,hhlarge,workwom,hval150,sstrdist,sstrvol,cpdist5,cpwvol5
0,tropicana,40,9.018695,0,0.232865,0.248935,0.11428,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
1,tropicana,46,8.723231,0,0.232865,0.248935,0.11428,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
2,tropicana,47,8.253228,0,0.232865,0.248935,0.11428,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
3,tropicana,48,8.987197,0,0.232865,0.248935,0.11428,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
4,tropicana,50,9.093357,0,0.232865,0.248935,0.11428,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28746,tropicana,156,11.313498,1,0.209602,0.528362,0.11325,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28747,tropicana,157,10.628133,0,0.209602,0.528362,0.11325,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28748,tropicana,158,9.936535,0,0.209602,0.528362,0.11325,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28749,tropicana,159,10.855917,1,0.209602,0.528362,0.11325,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28750,tropicana,160,10.236525,0,0.209602,0.528362,0.11325,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761

In [21]:
##Sort the Data in the increasing order of the week

In [94]:
df.sort_values(by='week',ascending=True)

,store,brand,week,logmove,feat,price,age60,educ,ethnic,income,hhlarge,workwom,hval150,sstrdist,sstrvol,cpdist5,cpwvol5
0,2,tropicana,40,9.018695,0,3.87,0.232865,0.248935,0.114280,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.927280,0.376927
3837,40,tropicana,40,8.743851,0,2.59,0.181852,0.072129,0.044053,10.550250,0.126813,0.306108,0.068989,1.086386,0.400000,1.289920,0.444661
20119,105,dominicks,40,8.050703,1,1.59,0.175542,0.094236,0.365411,10.414393,0.159840,0.360890,0.074419,4.037829,0.960000,3.354377,0.520134
5803,49,dominicks,40,9.240287,1,1.59,0.187473,0.319950,0.038353,10.806754,0.102472,0.346412,0.431709,3.439419,2.272727,1.807236,0.920569
19881,105,tropicana,40,8.565602,0,3.19,0.175542,0.094236,0.365411,10.414393,0.159840,0.360890,0.074419,4.037829,0.960000,3.354377,0.520134
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8256,59,minute.maid,160,10.377483,1,2.09,0.110819,0.233036,0.024247,10.715040,0.140676,0.390696,0.292652,0.217275,1.000000,3.331154,0.395539
8372,59,dominicks,160,9.034080,0,1.63,0.110819,0.233036,0.024247,10.715040,0.140676,0.390696,0.292652,0.217275,1.000000,3.331154,0.395539
20954,107,dominicks,160,8.987197,0,2.13,0.261867,0.273052,0.025624,10.827131,0.094317,0.311221,0.533950,5.821370,1.190476,1.994645,0.300364
1844,14,tropicana,160,9.276877,0,3.41,0.213949,0.348293,0.034179,11.043929,0.107894,0.362306,0.750770,3.320948,0.750000,2.359891,0.731810
20834,107,minute.maid,160,11.157393,1,2.19,0.261867,0.273052,0.025624,10.827131,0.094317,0.311221,0.533950,5.821370,1.190476,1.994645,0.300364

In [22]:
##Sort the data in the decreasing order of Income and increasing order of week

In [95]:
df.sort_values(by=['income','week'],ascending=[False,True])

,store,brand,week,logmove,feat,price,age60,educ,ethnic,income,hhlarge,workwom,hval150,sstrdist,sstrvol,cpdist5,cpwvol5
8373,62,tropicana,40,9.373819,0,3.87,0.222534,0.517760,0.026511,11.236197,0.103979,0.322765,0.916699,5.452685,0.705882,2.184050,0.201722
8490,62,minute.maid,40,8.449343,0,3.17,0.222534,0.517760,0.026511,11.236197,0.103979,0.322765,0.916699,5.452685,0.705882,2.184050,0.201722
8607,62,dominicks,40,8.050703,1,1.59,0.222534,0.517760,0.026511,11.236197,0.103979,0.322765,0.916699,5.452685,0.705882,2.184050,0.201722
8374,62,tropicana,41,9.368369,0,3.87,0.222534,0.517760,0.026511,11.236197,0.103979,0.322765,0.916699,5.452685,0.705882,2.184050,0.201722
8491,62,minute.maid,41,10.667652,1,1.99,0.222534,0.517760,0.026511,11.236197,0.103979,0.322765,0.916699,5.452685,0.705882,2.184050,0.201722
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11724,75,minute.maid,159,8.540910,0,2.64,0.207699,0.219548,0.415999,9.867083,0.063965,0.315583,0.496000,7.192667,2.230769,1.375126,0.703182
11842,75,dominicks,159,10.806571,0,1.49,0.207699,0.219548,0.415999,9.867083,0.063965,0.315583,0.496000,7.192667,2.230769,1.375126,0.703182
11607,75,tropicana,160,9.114710,0,2.88,0.207699,0.219548,0.415999,9.867083,0.063965,0.315583,0.496000,7.192667,2.230769,1.375126,0.703182
11725,75,minute.maid,160,10.747810,1,2.19,0.207699,0.219548,0.415999,9.867083,0.063965,0.315583,0.496000,7.192667,2.230769,1.375126,0.703182
11843,75,dominicks,160,9.436998,0,1.71,0.207699,0.219548,0.415999,9.867083,0.063965,0.315583,0.496000,7.192667,2.230769,1.375126,0.703182

In [136]:
##Find the mean of the juice price for each brand
df.loc[df['brand']=='tropicana']

,store,brand,week,logmove,feat,price,age60,educ,ethnic,income,hhlarge,workwom,hval150,sstrdist,sstrvol,cpdist5,cpwvol5
0,2,tropicana,40,9.018695,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
1,2,tropicana,46,8.723231,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
2,2,tropicana,47,8.253228,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
3,2,tropicana,48,8.987197,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
4,2,tropicana,50,9.093357,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28746,137,tropicana,156,11.313498,1,2.49,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28747,137,tropicana,157,10.628133,0,2.66,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28748,137,tropicana,158,9.936535,0,3.11,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28749,137,tropicana,159,10.855917,1,2.79,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28750,137,tropicana,160,10.236525,0,2.88,0.209602,0.528362,0.11325,10.966490,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761

In [135]:
for i in df['brand'].unique():
    print(f"{i} ",df.loc[df['brand']==i,'price'].mean())

tropicana  2.870493315369468
minute.maid  2.2411617784226348
dominicks  1.7358088921131722

In [96]:
df.groupby('brand')['price'].mean()

brand
dominicks      1.735809
minute.maid    2.241162
tropicana      2.870493
Name: price, dtype: float64

In [24]:
##Find the mean, sum, std of price for every brand

In [137]:
df.groupby('brand').agg(['mean','sum','std'])

                 store                          week                     \
                  mean     sum       std        mean     sum        std
brand
dominicks    80.883511  780445  35.57774  100.459944  969338  34.693512
minute.maid  80.883511  780445  35.57774  100.459944  969338  34.693512
tropicana    80.883511  780445  35.57774  100.459944  969338  34.693512

              logmove                              feat  ...  sstrdist  \
                 mean           sum       std      mean  ...       std
brand                                                    ...
dominicks    9.174831  88527.943226  1.192937  0.257021  ...  3.472506
minute.maid  9.217278  88937.517267  0.985287  0.288527  ...  3.472506
tropicana    9.111483  87916.698522  0.847380  0.166235  ...  3.472506

              sstrvol                           cpdist5                \
                 mean           sum       std      mean           sum
brand
dominicks    1.207317  11649.397806  0.526546  2.120359  20459.347393
minute.maid  1.207317  11649.397806  0.526546  2.120359  20459.347393
tropicana    1.207317  11649.397806  0.526546  2.120359  20459.347393

                        cpwvol5
                  std      mean         sum       std
brand
dominicks    0.729853  0.438914  4235.08374  0.219256
minute.maid  0.729853  0.438914  4235.08374  0.219256
tropicana    0.729853  0.438914  4235.08374  0.219256

[3 rows x 48 columns]

In [25]:
##For every brand find the mean price and sum of income

In [138]:
df.groupby('brand').agg({'price':'mean','income':'sum'})

                price         income
brand
dominicks    1.735809  102440.872522
minute.maid  2.241162  102440.872522
tropicana    2.870493  102440.872522

In [ ]:
##Find the average income for each brand and at each store

In [142]:
df.groupby(['brand','store'])['income'].mean()

brand      store
dominicks  2        10.553205
           5        10.922371
           8        10.597010
           9        10.787152
           12        9.996659
                      ...
tropicana  130       9.966650
           131      10.793537
           132      10.619154
           134      10.722518
           137      10.966490
Name: income, Length: 249, dtype: float64

In [ ]:
Find:
Mean and std deviation of the income
For income greater than or equal to 10.5, find the mean income
For each brand having price >=2.5 find the mean, median, sd of the log of income
Find the Cross tabulation of brands and feature advertisement